:root {
  --clr-white: #ffffff;
  --clr-very-dark-blue: #10141e;
  --clr-dark-blue: #161d2f;
  --clr-blue: #5a698f;
  --clr-orange: #fc4747;
  --clr-grey: #73726f;
  --clr-very-grey: #403f3c;
  --clr-light-grey: #bfbdb8;

  --ff-primary: "Outfit", sans-serif;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --fs-xxl: 32px;
  --lh-xxl: 40px;
  --ls-xxl: -0.5px;

  --fs-xl: 24px;
  --lh-xl: 30px;

  --fs-l: 18px;
  --lh-l: 23px;

  --fs-m: 15px;
  --lh-m: 19px;

  --fs-s: 13px;
  --lh-s: 16px;
}
